@charset "UTF-8";
/* Open Shopping 2.0 Default CSS Style */
html { font-family: "Ropa Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif,"맑은고딕","돋움","Arial","Apple SD Gothic Neo"; font-size: 12px; line-height: 1.5; }

a {
	text-decoration: none
}


h1 {
	font-size: 16px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 12px;
}

h4 {
	font-size: 10px;
}

h5 {
	font-size: 8px;
}

/* *******************
	POPUP 마스크 
   ******************* */
#popup_mask {  
	position:absolute;  
	z-index:9000;  
	background-color:#000000;  
	display:none;
	left:0;
	top:0;
} 

/*
#popup_close {
	background-color:#ffffff;
	color:#000000;
}

#popup_close:hover {
	background-color:#e81123;
	color:#ffffff;
}

*/



/* *******************
	Div Cearfix 
	Div 박스 플로팅 적용시 정렬 깨지는 것 방지,
   ******************* */
.clearfix:after {
	content:"";
	display: block;
	clear:both;
}


/* 반등형 웹  */
@media (max-width:599px){

}

/* 반등형 웹  */
@media (min-width:600px) and (max-width:767px){

}

/* 반등형 웹  */
@media (min-width:798px){

}

/* 반등형 웹  */
@media (min-width:1040px){

}

/* 반등형 웹: HD급 PC*/
@media (min-width:1280px){

}

/* 탭바 CSS*/

ul.tabs {
    margin: 0;
    padding: 0;
   	float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    width: 100%;
    font-family:"dotum";
    font-size:12px;
}

ul.tabs li {
	float: left;
	text-align:center;
	cursor: pointer;
	width:50px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #eee;
    border-left: none;
    font-weight: bold;
    background: #fafafa;
    overflow: hidden;
   	position: relative;
}

ul.tabs li.active {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.tab_container {
    border: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #FFFFFF;
}

.tab_content {
    padding: 5px;
    font-size: 12px;
    display: none;
}

.tab_container .tab_content ul {
   	width:100%;
    margin:0px;
    padding:0px;
}

.tab_container .tab_content ul li {
    padding:5px;
    list-style:none;
}

#container {
    width: 100%;
    margin: 0 auto;
}


/*  */


#listview {
	width:100%; 
	font-size:12px; 
	color:#000000; 
	font-weight:bold; 
	background-color:#f3f3f3; 
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;
}

#listnum {
	width:100%; 
	font-size:12px; 
	color:#000000; 
	font-weight:bold; 
	background-color:#f3f3f3; 
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;
}

#btn_search {
	width:80px; 
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background-color:#4b8df8;
	height:28px;
	font-size:12px;
	border:1px solid #3079ed;
}

#cate_search{
	width:100%;
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;
}

#btn_shop_search {
	width:80px; 
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background-color:#4b8df8;
	height:28px;
	font-size:12px;
	border:1px solid #3079ed;
	text-align: center;
}

#shop_search{
	width:100%;
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;
}

#btn_newgoods {
	width:80px; 
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background-color:#f46624;
	height:28px;
	font-size:12px;
	border:1px solid #df5d21;
}



#btn_detail_cart{
	width:90px; 
	font-size:12px; 
	color:#000000; 
	font-weight:bold; 
	background-color:#f3f3f3; 
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;
}

#btn_detail_buynow{
	width:90px; 
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background-color:#4b8df8;
	height:28px;
	font-size:12px;
	border:1px solid #3079ed;

}

#btn_detail_wish{
	width:90px; 
	font-size:12px; 
	color:#000000; 
	font-weight:bold; 
	background-color:#f3f3f3; 
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;
}

#btn_detail_reseller{
	width:90px; 
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background-color:#f46624;
	height:28px;
	font-size:12px;
	border:1px solid #df5d21;
}

#shipping{
	width:100%;
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;
}

#detail_num{
	width:100px;
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;

}

#detail_option{
	width:100%;
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;
}


#btn_cart_delete{
	width:90px; 
	font-size:12px; 
	color:#000000; 
	font-weight:bold; 
	background-color:#f3f3f3; 
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;
}


#btn_cart_seller_order{
	width:150px; 
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background-color:#4b8df8;
	height:28px;
	font-size:12px;
	border:1px solid #3079ed;

}

#btn_cart_all_order{
	width:90px; 
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background-color:#4b8df8;
	height:28px;
	font-size:12px;
	border:1px solid #3079ed;

}

#cart_num{
	width:50px;
	height:15px;	
	font-size:12px;	
	border:1px solid #d8d8d8;

}


#btn_paynow{
	width:90px; 
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background-color:#4b8df8;
	height:28px;
	font-size:12px;
	border:1px solid #3079ed;

}

#btn_order_delete{
	width:90px; 
	font-size:12px; 
	color:#000000; 
	font-weight:bold; 
	background-color:#f3f3f3; 
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;
}

#btn_transfer{
	width:250px; 
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background-color:#4b8df8;
	height:28px;
	font-size:12px;
	border:1px solid #3079ed;

}

#btn_login_submit{
	width:100px; 
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background-color:#4b8df8;
	height:28px;
	font-size:12px;
	border:1px solid #3079ed;

}

#input_login_email{
	width:100%;
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;
}

#input_login_password{
	width:100%;
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;
}

#input_login_securekey{
	width:100%;
	height:28px;	
	font-size:12px;	
	border:1px solid #d8d8d8;
}

#btn_eximbay_retry{
	width:100px; 
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background-color:#4b8df8;
	height:28px;
	font-size:12px;
	border:1px solid #3079ed;

}

#btn_eximbay{
	width:150px; 
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background-color:#4b8df8;
	height:28px;
	font-size:12px;
	border:1px solid #3079ed;

}

/* 상품이미지 표시 텝바 */
ul.images_navtab {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.images_navtab:after {
    content:"";
    display:block;
    clear:both;
}

ul.images_navtab li {
    float: left;
    cursor: pointer;
    padding:5px;    
}

ul.images_navtab li.active {

}

.images_container {
    clear: both;
    float: left;
    width: 100%;
    background: #FFFFFF;
}

.images_content {
    display: none;
}

.images_container .images_content ul {
    width:100%;
    margin:0px;
    padding:0px;
}

.images_container .images_content ul li {
   
}


