.bootstrap {
    
    .alert {
        position: relative;
        padding: .95rem;
        margin-bottom: 1rem;
        border: 0 solid transparent;
        border-radius: .2rem
    }

    .alert-heading {
        color: inherit
    }

    .alert-link {
        font-weight: 600
    }

    .alert-dismissible {
        padding-right: 2.85rem
    }

    .alert-dismissible .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        padding: 1.1875rem .95rem
    }

    .alert-primary {
        color: #234b85;
        background-color: #d8e5f8;
        border-color: #c4d8f5
    }

    .alert-primary .alert-link {
        color: #1c3c6a
    }

    .alert-secondary {
        color: #41464b;
        background-color: #e2e3e5;
        border-color: #d3d6d8
    }

    .alert-secondary .alert-link {
        color: #34383c
    }

    .alert-success {
        color: #117054;
        background-color: #d2f1e8;
        border-color: #bbebdd
    }

    .alert-success .alert-link {
        color: #0e5a43
    }

    .alert-info {
        color: #0e616e;
        background-color: #d1ecf1;
        border-color: #b9e3ea
    }

    .alert-info .alert-link {
        color: #0b4e58
    }

    .alert-warning {
        color: #976f1a;
        background-color: #fef1d5;
        border-color: #feeac0
    }

    .alert-warning .alert-link {
        color: #795915
    }

    .alert-danger {
        color: #842029;
        background-color: #f8d7da;
        border-color: #f5c2c7
    }

    .alert-danger .alert-link {
        color: #6a1a21
    }

    .alert-light {
        color: #626364;
        background-color: #fdfdfe;
        border-color: #fcfdfe
    }

    .alert-light .alert-link {
        color: #4e4f50
    }

    .alert-dark {
        color: #141619;
        background-color: #d3d3d4;
        border-color: #bcbebf
    }

    .alert-dark .alert-link {
        color: #101214
    }

    .alert {
        padding: 0;
        display: flex
    }

    .alert .close:focus,
    .alert .close:hover {
        opacity: 1
    }

    .alert-outline,
    .alert-outline-coloured {
        color: #495057;
        background: #fff
    }

    .alert-outline-coloured hr,
    .alert-outline hr {
        border-top-color: #ced4da
    }

    .alert-outline-coloured .close:focus,
    .alert-outline-coloured .close:hover,
    .alert-outline .close:focus,
    .alert-outline .close:hover {
        color: #343a40
    }

    .alert-outline-coloured .alert-message,
    .alert-outline .alert-message {
        border-top-right-radius: .2rem;
        border-bottom-right-radius: .2rem;
        border-top-left-radius: .2rem;
        border-bottom-left-radius: .2rem;
        border: 1px solid #ced4da
    }

    .alert-outline-coloured .alert-message:not(:nth-child(2)),
    .alert-outline .alert-message:not(:nth-child(2)) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0
    }

    .alert-outline-coloured .alert-icon,
    .alert-outline .alert-icon {
        border-top-left-radius: .2rem;
        border-bottom-left-radius: .2rem;
        color: #fff
    }

    .alert-outline-coloured.alert-primary .alert-icon,
    .alert-outline.alert-primary .alert-icon {
        background-color: #3b7ddd
    }

    .alert-outline-coloured.alert-secondary .alert-icon,
    .alert-outline.alert-secondary .alert-icon {
        background-color: #6c757d
    }

    .alert-outline-coloured.alert-success .alert-icon,
    .alert-outline.alert-success .alert-icon {
        background-color: #1cbb8c
    }

    .alert-outline-coloured.alert-info .alert-icon,
    .alert-outline.alert-info .alert-icon {
        background-color: #17a2b8
    }

    .alert-outline-coloured.alert-warning .alert-icon,
    .alert-outline.alert-warning .alert-icon {
        background-color: #fcb92c
    }

    .alert-outline-coloured.alert-danger .alert-icon,
    .alert-outline.alert-danger .alert-icon {
        background-color: #dc3545
    }

    .alert-outline-coloured.alert-light .alert-icon,
    .alert-outline.alert-light .alert-icon {
        background-color: #f5f7fb
    }

    .alert-outline-coloured.alert-dark .alert-icon,
    .alert-outline.alert-dark .alert-icon {
        background-color: #212529
    }

    .alert-outline-coloured.alert-primary .alert-message {
        border-color: #3b7ddd
    }

    .alert-outline-coloured.alert-secondary .alert-message {
        border-color: #6c757d
    }

    .alert-outline-coloured.alert-success .alert-message {
        border-color: #1cbb8c
    }

    .alert-outline-coloured.alert-info .alert-message {
        border-color: #17a2b8
    }

    .alert-outline-coloured.alert-warning .alert-message {
        border-color: #fcb92c
    }

    .alert-outline-coloured.alert-danger .alert-message {
        border-color: #dc3545
    }

    .alert-outline-coloured.alert-light .alert-message {
        border-color: #f5f7fb
    }

    .alert-outline-coloured.alert-dark .alert-message {
        border-color: #212529
    }

    .alert-icon {
        padding: .95rem;
        background: rgba(0, 0, 0, .05)
    }

    .alert-message {
        padding: .95rem;
        width: 100%;
        box-sizing: border-box
    }
}