
























.ui-tabs-nav {

    li.ui-state-disabled a {
        cursor: default;
        color: #acbbc2;
        background-color: transparent;
        border: 0;
    }


    .btn-time,
    

    .btn-time::after {
        content: '';
        position: absolute;
    }

        

    .btn-time:focus,
    .btn-time:hover {
        color: #ffffff;
        background-color: #02659f;
        border-color: #02659f;
        cursor: pointer;
    }

    .btn-time {
        padding: 0 34px 0 10px;
    }

    .btn-time::after {
        margin: 0 5px;
        right: 0;
        top: 0;
        height: 24px;
        width: 24px;
        //background: url("../img/icon-sprite.svg?20200407") no-repeat -87px -583px;
    }

    



    .ui-state-focus .btn-time,
    .ui-state-focus .filter-trigger {
        box-shadow: 0 0 0 2px rgba(30, 135, 227, 0.35);
        color: #ffffff;
        background-color: #02659f;
        border-color: #02659f;
    }

    .ui-state-focus.ui-tabs-active .btn-time,
    .ui-state-focus.ui-tabs-active .filter-trigger {
        box-shadow: 0 0 0 2px rgba(30, 135, 227, 0.35);
    }

    .ui-tabs-active .btn-time {
        color: #1f2c33;
        background-color: #ffffff;
        border: 1px solid #dfe4e7;
        border-bottom: 0;
        border-radius: 2px 2px 0 0;
        margin: -1px 0 0 6px;
        padding: 1px 34px 7px 10px;
    }

    .ui-tabs-active .btn-time::after {
        background-position: -246px -583px;
        top: 1px;
    }

    

    .ui-state-hover.ui-tabs-active .btn-time,
    .ui-state-hover.ui-tabs-active .filter-trigger {
        background-color: #e8f5ff;
    }


}




