
/*
 * 부트스트랩용 width
 */

.w-25 {
    width: 25% !important
}

.w-50 {
    width: 50% !important
}

.w-75 {
    width: 75% !important
}

.w-100 {
    width: 100% !important
}

.w-auto {
    width: auto !important
}

.mw-100 {
    max-width: 100% !important
}

.vw-100 {
    width: 100vw !important
}

.min-vw-100 {
    min-width: 100vw !important
}

.min-vw-50 {
    min-width: 50vw !important
}




.min-vh-50 {
    min-height: 50vh !important
}

.vw-50 {
    width: 50vw !important
}

.vh-50 {
    height: 50vh !important
}


