select.jiny {

    @apply text-sm h-6 p-0.5;
    box-sizing: border-box;
    outline: 0;
    color: #1f2c33;
    background-color: #ffffff;
    border: 1px solid #acbbc2;
    transition: border-color .2s ease-out, box-shadow .2s ease-out;


    &:focus {
        outline: 0;
        border-width: 1px;
        border-color: #02659f;
    }

    &:active {
        outline: 0;
        border-width: 1px;
        border-color: #02659f;
    }


    option {
        color: #1f2c33;
        background-color: #ffffff;
    }

    // 읽기 전용
    &[readonly] {
        color: #1f2c33 !important;
        pointer-events: none;
    }

    // 다중선택
    &[multiple] {
        padding: 4px 5px;
        width: 300px;
        height: 150px;

        option {
            padding: 0;
        }
    }
    
}








.multiselect {
    background-color: #ffffff;
    border: 1px solid #acbbc2;
    box-sizing: border-box;
    color: #1f2c33;
    outline: 0;
    transition: border-color .2s ease-out, box-shadow .2s ease-out;
}

.multiselect {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 3px;
    min-height: 24px;
    white-space: normal;
}

.multiselect[aria-disabled] {
    color: #acbbc2;
    background-color: #ebebeb !important;
    border-color: #ccd5d9;
}

.multiselect:focus {
    border-color: #02659f;
}

.multiselect.active {
    border-color: #02659f;
}

.multiselect input[type="text"] {
    border: 0;
    background: none;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 2px;
    min-height: 20px;
}

.multiselect.search-disabled input[type="text"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.multiselect .multiselect-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2px;
    padding-bottom: 2px;
}

.multiselect .multiselect-list li {
    display: block;
    padding-left: 0 !important;
    margin: 2px 2px 0 0;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
}

.multiselect .multiselect-list li .subfilter-enabled {
    display: flex;
    flex-direction: row;
    padding: 0 3px 0 4px;
    line-height: 18px;
}

.multiselect .multiselect-list li .subfilter-enabled>span:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.multiselect .multiselect-list li .subfilter-enabled>.subfilter-disable-btn {
    position: relative;
    left: 3px;
    flex-shrink: 0;
}

.multiselect .multiselect-list li.selected .subfilter-enabled,
.multiselect .multiselect-list li.selected .subfilter-disable-btn,
.multiselect .multiselect-list li.selected .subfilter-disable-btn:active {
    background-color: #93a5af;
}

.multiselect .disabled {
    background-color: #ebebeb;
    opacity: 1;
}

.multiselect .disabled .subfilter-enabled,
.multiselect .disabled .subfilter-disable-btn {
    background-color: #ccd5d9;
    color: #768d99;
}

.multiselect div[aria-live] {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/*
 * Z-index
 */

z-select,
.z-select {
    display: inline-block;
}

    z-select button,
    .z-select button {
        position: relative;
        height: 24px;
        padding: 3px 18px 3px 4px;
        overflow: hidden;
        font-size: 1em;
        text-align: left;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: pre;
        cursor: default;
        border-radius: 0;
    }

    z-select button::after,
    .z-select button::after {
        content: '';
        position: absolute;
        top: 6px;
        right: 5px;
        width: 5px;
        height: 5px;
        border-right: 1.4px solid;
        border-bottom: 1.4px solid;
        transform: rotate(45deg);
    }

    z-select button:active,
    z-select button:hover,
    z-select button:focus,
    .z-select button:active,
    .z-select button:hover,
    .z-select button:focus {
        color: #1f2c33;
        background-color: #ffffff;
        border-color: #acbbc2;
        box-shadow: none;
    }


    z-select .list,
    .z-select .list {
        display: none;
        z-index: 20000;
        max-height: 362px;
        overflow-y: auto;
        border: 1px solid;
        box-shadow: 0 6px 10px 0 rgba(118, 141, 153, 0.5);
    }

    z-select .list li,
    .z-select .list li {
        display: block;
        height: inherit;
        padding: 5px;
        line-height: normal;
        color: #1f2c33;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: pre-wrap;
        user-select: none;
    }

    z-select .list li.hover,
    .z-select .list li.hover {
        background-color: #e8f5ff;
    }

    z-select .list li.red,
    .z-select .list li.red {
        color: #e33734;
    }

    z-select .list li[disabled],
    .z-select .list li[disabled] {
        color: #acbbc2;
    }

    z-select .list li[optgroup]::before,
    .z-select .list li[optgroup]::before {
        content: attr(optgroup);
        display: block;
        font-weight: bold;
    }

    z-select .list>li>ul,
    .z-select .list>li>ul {
        margin: 5px -5px -5px;
    }

    z-select .list>li>ul li,
    .z-select .list>li>ul li {
        padding-left: 15px;
    }

    z-select .list.fall-upwards,
    .z-select .list.fall-upwards {
        box-shadow: 0 -6px 10px 0 rgba(118, 141, 153, 0.5);
    }

    z-select.is-expanded>ul,
    .z-select.is-expanded>ul {
        display: block;
        position: fixed;
    }

    z-select[disabled] button,
    z-select[readonly] button,
    .z-select[disabled] button,
    .z-select[readonly] button {
        pointer-events: none;
    }

    z-select[readonly] button,
    .z-select[readonly] button {
        color: #1f2c33 !important;
    }


    z-select button,
    .z-select button,
    z-select .list,
    .z-select .list {
        background-color: #ffffff;
        border: 1px solid #acbbc2;
        box-sizing: border-box;
        color: #1f2c33;
        outline: 0;
        transition: border-color .2s ease-out, box-shadow .2s ease-out;
    }

    z-select button:focus,
    .z-select button:focus,
    z-select .list:focus,
    .z-select .list:focus {
        border-color: #87898a;
    }

    z-select[disabled] button,
    z-select[readonly] button,
    .z-select[disabled] button,
    .z-select[readonly] button {
        
            color: #acbbc2;
            background-color: #ebebeb !important;
            border-color: #ccd5d9;
        
    }

    z-select.z-select-host-interface .description:not(:empty),
    .z-select.z-select-host-interface .description:not(:empty) {
        display: block;
        margin-top: 5px;
        color: #9d9d9d;
    }

    z-select.z-select-host-interface[disabled] .description:not(:empty),
    z-select.z-select-host-interface li[disabled] .description:not(:empty),
    .z-select.z-select-host-interface[disabled] .description:not(:empty),
    .z-select.z-select-host-interface li[disabled] .description:not(:empty) {
        color: #acbbc2;
    }

    z-select button::-webkit-scrollbar,
    .z-select button::-webkit-scrollbar,
    z-select .list::-webkit-scrollbar,
    .z-select .list::-webkit-scrollbar {
        width: 9px;
    }

    z-select button::-webkit-scrollbar-track,
    .z-select button::-webkit-scrollbar-track,
    z-select .list::-webkit-scrollbar-track,
    .z-select .list::-webkit-scrollbar-track
    {
        background-color: rgba(172, 187, 194, 0.55);
    }

    z-select button::-webkit-scrollbar-thumb,
    .z-select button::-webkit-scrollbar-thumb,
    z-select .list::-webkit-scrollbar-thumb,
    .z-select .list::-webkit-scrollbar-thumb {
        background-color: rgba(135, 135, 135, 0.85);
        border: 1px solid rgba(122, 122, 122, 0.85);
    }


