/* width-pixel*/
.wp-10
{
    width: 10px;
}

.wp-20
{
    width: 20px;
}

.wp-30
{
    width: 30px;
}

.wp-40
{
    width: 40px;
}

.wp-50
{
    width: 50px;
}

.wp-100
{
    width: 100px;
}

.wp-150
{
    width: 150px;
}

.wp-200
{
    width: 200px;
}

.wp-250
{
    width: 250px;
}

.wp-300
{
    width: 300px;
}

.wp-350
{
    width: 350px;
}

.wp-400
{
    width: 400px;
}

.wp-450
{
    width: 450px;
}

.wp-500
{
    width: 500px;
}